body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0f14;
}

.ripple {
    width: 25px;
    height: 25px;
    border: 3px solid #7dd3fc;
    border-radius: 50%;
    position: absolute;
    animation: pulse 1.6s infinite ease-out;
}

.ripple:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes pulse {
    0% {
        transform: scale(0.2);
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}